@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Lato:wght@300&family=Oswald&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', sans-serif;
    background: #0c192c;
    height: max-content;
}

.container {
    position: relative;
    width: 100%;
    height: 1200px;
    overflow: hidden;
    background: url('../images/spark-background.jpg') no-repeat center center;
}

.start-button {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    padding-top: 200px;
}

.container, .start-button, .bright{
    
    margin: 0 auto;
}

.bright {
    width:1100px;
    font-size: 300%;
    text-align: center;
}

h1 {
    color: #dffe00;

}

button {
    width: 100px;
    height: 50px;
    background-color: #dffe00;
    color: #0c192c;
    border-radius: 5px;
    font-family: 'Shadows Into Light', sans-serif;
    font-weight: 600;
    font-size: 120%;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover:not([disabled]) {
    background-color: #0c192c;
    color: #dffe00;
}

button:disabled {
    cursor: no-drop;
}

#start {
    width:fit-content;
}

#name, #box, #start {
    display: block;
    margin: 0 auto;
}

.question-area {
    height: 550px;
    width: 500px;
    background-color: #ffff;
    opacity: 0.9;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid #dffe00;
    border-radius: 20px;
    padding: 30px;
    color: #0c192c;
}

.title {
    border-bottom: 1px solid #0c192c;
    padding-bottom: 30px;
    font-size: 25px;
}

.quiz {
    padding: 20px 0;
}

#question {
    font-size: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
}

#next-btn {
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    display: none;
}

.correct {
    background: #9aeabc;
}
 
.incorrect {
    background: #ff9393;
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 150%;
        position:absolute;
        padding-bottom: 100px;
    }

    #start {
        padding-top: 100px;
    }
}
@media screen and (max-width: 700px) {
    h1 {
        font-size: 120%;
        position:absolute;
    }

    #start {
        padding-top: 100px;
    }

    .question-area {
        height: 600px;
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .question-area {
        height: 600px;
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    #start {
        padding-top: 100px;
    }
}